<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>GameJS</title>
  </head>
  <body>
    <div class="header">
      <a href="about" class="logo">GameJS</a>
      <div class="header-right">
        <a href="/offline">Offline</a>
        <a href="/online">Online</a>
      </div>
    </div>
    
    <br>
    <img src="/<%= pathName %>/logo" width="250" height="125"></img>
    <h1><%= name %> - Info</h1>
    <p><b><%= description %></b></p>
    <br>
    <p>Made for GameJS <%= madeFor %></p>
    <br>
    <p>Version: <%= version %><br>
    Author: <%= author %><br>
    Copyright: <%= copyright %><br>
    Credits: <%= credits %><br>
    Website: <%= website %></p>
  </body>
</html>
